<div class="register">
    {{#form-for model wrapper="cuttle"}}
        <div class="row">
            <h1>Account informations</h1>
        </div>
        {{input username}}
        {{input email}}
        {{input password}}
        {{input passwordConfirmation}}
        <div class="row">
            <h1>Personal informations</h1>
        </div>
        {{input firstname}}
        {{input lastname}}
        {{input adress}}
        {{input zip}}
        {{input location}}
        {{input country}}
          <div class="row">
            {{submit Register as="button"}}
          </div>
    {{/form-for}}
</div>
